
<div class="help-panel">
<h1>Ayuda</h1>

<p>Esta aplicación permite la gestión de una libreta de notas, permitiendo la
creación, edición y eliminación de notas.</p>

<p>Esta aplicación ha sido desarrollada como parte de un Trabajo de Fin de Máster
del <em>Máster Universitario en Desarrollo del Software para la Web</em> de
la Universidad de Alcalá.</p>

<h2>Formato en las notas</h2>

El contenido de las notas soporta un formato en Markdown básico, soportando los
siguientes elementos (salvo la lista):

<ul>
  <li>Los seis niveles de encabezado, desde <code>#</code> (encabezado de nivel 1)
    hasta <code>######</code> (encabezado de nivel 6).</li>
  <li><strong>Negrita</strong>, para la cual es necesario encerrar el texto a dar formato entre
    <code>**</code>.</li>
  <li><em>Cursiva</em>, para la cual es necesario encerrar el texto a formatear entre
    <code>*</code>.</li>
  <li>Formato de <code>código</code>, el cual imprimirá el texto formateado en una fuente
    monoespaciada. Para dar formato de código, se encierra el texto entre
    caracteres <code>`</code>.
</ul>

<p>Para separar el texto en párrafos, es necesario escribir un salto de línea o más
  entre ambos.</p>

<h3>Ejemplo</h3>

<pre>
# Título de la nota

Esto es un *ejemplo* de nota, en el **Markdown** soportado por la aplicación.

## Características soportadas

**Negrita**, *cursiva* y `código`.
</pre>
</div>